# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/rag

# Embeddings
EMBEDDER_PROVIDER=openai
EMBEDDER=voyageai/voyage-4
EMBEDDING_SPACE=1024

# LLM
LLM_PROVIDER=openai
LLM=deepseek/deepseek-v4-pro-0813


OPENAI_BASE_URL=https://routerai.ru/api/v1 - например
OPENAI_API_KEY=ваш